<% include ../layout/header.ejs %>
        <div id="page-wrapper">
        <div class="graphs">      
        </div>
        <div class="col-md-12 inbox_right">
            <div class="Compose-Message">               
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add New Email Target 
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                        <hr>
                        <label>Target Name : </label>
                        <input type="text" class="form-control1 control3">
                        <label>Target Email :  </label>
                        <input type="text" class="form-control1 control3">
                      
                        <hr>
                        <a href="#" class="btn btn-warning btn-warng1"><span class="glyphicon glyphicon-envelope tag_02"></span> Add Target </a>
                    </div>
                 </div>
              </div>
         </div>
         <div class="clearfix"> </div>
   </div>
<% include ../layout/footer.ejs %>