<% include layout/header.ejs %>
        <div id="page-wrapper">
        <div class="graphs">      
        </div>
        <div class="col-md-12 inbox_right">
            <div class="Compose-Message">               
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Compose New Message 
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            Please fill details to send a new message
                        </div>
                        <hr>
                        <label>Enter Recipient Name : </label>
                        <input type="text" class="form-control1 control3">
                        <label>Enter Subject :  </label>
                        <input type="text" class="form-control1 control3">
                        <label>Enter Message : </label>
                        <textarea rows="6" class="form-control1 control2"></textarea>
                        <hr>
                        <a href="#" class="btn btn-warning btn-warng1"><span class="glyphicon glyphicon-envelope tag_02"></span> Send Message </a>&nbsp;
                      <a href="#" class="btn btn-success btn-warng1"><span class="glyphicon glyphicon-tags tag_01"></span> Save To Drafts </a>
                    </div>
                 </div>
              </div>
         </div>
         <div class="clearfix"> </div>
   </div>
<% include layout/footer.ejs %>